<?xml version="1.0" ?>
<phpunit bootstrap="tests/bootstrap.php" backupGlobals="false">

    <testsuites>
        <testsuite name="JsonSchemaBundle">
            <directory suffix="Test.php">tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src</directory>
            <exclude>
                <directory>./src/Resources</directory>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
